




/* aqui va el HEADER */
header {
    background-image: url("/imagenes/pexels-photo-1570806.jpeg");

    padding: 20px 0;
}

.caja {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline-block;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

/* aqui va el MAIN */



/* aqui va el FOOTER */
footer {
    text-align: center;
    background-image: url("/imagenes/bg.jpg");
    padding: 40px;
}

.copyright {
    color: white;
    font-size: 13px;
    margin: 20px;

}