


body {
    background-color: #cccccc;
}

#banner {
    width: 100%;
}

h1 {
    text-align: center;
    height: auto;
    border: 10px solid #000000;
    padding: 20px;
    margin: 40px;
}


p {
    text-align: center;
}

#mision {
    font-size: 20px;
}

em strong {
    color: red;
}